#!/usr/bin/make -f

DEB_CONFIG_INSTALL_DIR = /etc
DEB_DH_MAKESHLIBS_ARGS_libakonadiprivate1 := -V

DEB_CMAKE_EXTRA_FLAGS += -DMYSQLD_EXECUTABLE:STRING=/usr/sbin/mysqld

DEB_STRICT_LOCAL_SHLIBS_PACKAGES = $(DEB_LIBRARY_PACKAGES)

include /usr/share/pkg-kde-tools/qt-kde-team/1/debian-qt-kde.mk
include /usr/share/pkg-kde-tools/qt-kde-team/1/library-packages.mk
