#!/usr/bin/make -f

include /usr/share/pkg-kde-tools/qt-kde-team/2/debian-qt-kde.mk
libpkgs_gen_strict_local_shlibs = $(libpkgs_all_packages)
include /usr/share/pkg-kde-tools/qt-kde-team/2/library-packages.mk

override_dh_auto_configure:
	$(overriden_command) -- -DMYSQLD_EXECUTABLE:STRING=/usr/sbin/mysqld \
	    -DCONFIG_INSTALL_DIR=/etc

override_dh_makeshlibs:
	$(overriden_command) -V -- -c0

override_dh_strip:
	$(overriden_command) --dbg-package=akonadi-dbg
